%h1 Форма авторизации
= form_for :session, :url => { :action => :create } do |f|  
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p.button= f.submit "Войти"