= simple_form_for @q do |f|
  - if @story.errors.any?
    #error_explanation
      %h2
        = pluralize(@story.errors.count, "error")
        prohibited this story from being saved:
      %ul
        - @story.errors.full_messages.each do |msg|
          %li= msg

  = f.input :title, :lable => "title"
  = f.input :description, :type => "text", :lable => "description"
  = f.hidden_field :user_id, :value => current_user.id
  = f.button :submit