%p#notice= notice
%p
  %b Title:
  = @story.title
%p
  %b Description:
  = @story.description
%p
  %b State:
  = @story.state
%p
  %b User:
  = get_user_login(@story.user_id)

- if author?(@story.user_id)
  = link_to "Начать выполнение", story_change_state_path(@story, event: :start), method: :put if @story.can_start?
  = link_to "Завершить выполнение", story_change_state_path(@story, event: :finish), method: :put if @story.can_finish?
  = link_to "Принять задачу", story_change_state_path(@story, event: :accept), method: :put if @story.can_accept?
  = link_to "Отклонить задачу", story_change_state_path(@story, event: :reject), method: :put if @story.can_reject?


%h2 Comments:
%table{:border => 1} 
  %tr
    %td
      %strong
        = :user
    %td
      %strong
        = :comment
    - if author?(@story.user_id)
      %td
  %tr

  - @story.story_comments.each do |story_comment|
    %tr
      %td 
        - user_id = story_comment.user_id
        = get_user_login(user_id)
      %td 
        = story_comment.comment
      -if author?(@story.user_id)
        %td
          = link_to 'Destroy Comment', [story_comment.story, story_comment], :method => :delete

-if signed_in?
  %h2 Add comment:
  = form_for([@story, @story.story_comments.build]) do |f|
    %p
    = f.label :comment
    %br
    = f.text_area :comment
    %br
    = f.submit
-if author?(@story.user_id)
  = link_to 'Edit', edit_story_path(@story)
  |
\#{link_to 'Back', stories_path}