!!!
%html
  %head
    %title Менеджер задач
    = stylesheet_link_tag    "bootstrap", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  #user_nav
    - if signed_in?
      Здравствуйте, #{current_user.email}
      \#{link_to "Выйти", session_path, :method => :delete}
    - else
      \#{link_to "Зарегистрироваться", new_user_path}
      или
      \#{link_to "Войти", new_session_path}

  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}", :class => "alert"

  %body
    = yield

  